<div class="container">
  <form [formGroup]="loginForm"
    (ngSubmit)="login()">
    <div class="row align-items-center">
      <div class="col-sm-2">Name:</div>
      <div class="col-sm-4">
        <p>
          <input class="form-control"
            type="text"
            placeholder="Name"
            formControlName="name">
        </p>
      </div>
      <div class="col-sm-6">
        <div class="alert alert-danger"
          *ngIf="loginForm.controls.name.status === 'INVALID'">
          <span *ngIf="loginForm.controls.name.errors.pattern">Please input only letters</span>
          <span *ngIf="loginForm.controls.name.errors.required">Field cannot be empty</span>
        </div>

      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-2">Surname:</div>
      <div class="col-sm-4">
        <p>
          <input class="form-control"
            type="text"
            placeholder="Surname"
            formControlName="surname">
        </p>
      </div>
      <div class="col-sm-6">
        <div class="alert alert-danger"
          *ngIf="loginForm.controls.surname.status === 'INVALID'">
          <span *ngIf="loginForm.controls.surname.errors.pattern">Please input only letters</span>
          <span *ngIf="loginForm.controls.surname.errors.required">Field cannot be empty</span>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-2">Age:</div>
      <div class="col-sm-4">
        <p>
          <input class="form-control"
            type="text"
            placeholder="Age"
            formControlName="age">
        </p>
      </div>
      <div class="col-sm-6">
        <div class="alert alert-danger"
          *ngIf="loginForm.controls.age.status === 'INVALID'">
          <span *ngIf="loginForm.controls.age.errors.pattern">Please input only number</span>
          <span *ngIf="loginForm.controls.age.errors.required">Field cannot be empty</span>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-12">
        <button class="btn btn-success btn-block"
          type="submit"
          [disabled]="!loginForm.valid || loginForm.untouched">
          Log In
        </button>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-12"
        *ngIf="loginForm.valid">
        <h5>
          {{loginForm.controls.name.value}} {{loginForm.controls.surname.value}}
        </h5>
      </div>
    </div>
  </form>
</div>
